html {
	height: 100%;
	width: 100%;
}

body {
	background: #333;
	color: #fff;
	text-align: center;
	padding: 100px 0;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
	.menu-icon {
		display: block;	
	}
	
	.nav-menu {
		display: none;
		flex-direction: column;	
	}
	
	.nav-menu.active {
		display: flex;	
	}

	.nav-menu li {
		margin: 10px 0;	
	}
}
